.farmer-card{
    border: 1px solid black;
    background-image: linear-gradient(to bottom, #008000cc, white);
    box-shadow: 7px 7px 25px green;
    padding-bottom: 10px;
    border-radius: 10px;
}
.farmer-img{
    border: 1px solid black;
    border-radius: 10px;
}
.farmer-img:hover{
    transition: 0.3s ease-out;
    transform: scale(1.15);
    border-radius: 10px;
    box-shadow: 7px 7px 25px gray;
    cursor: pointer;
}
.farmer-name{
    color: white;
    background-color: #000000cc;
    border-radius: 25px;
}
.add-to-list-btn{
    border: 1px solid black;
    color: white;
    background-color: darkgreen;
    padding: 5px 25px;
}
.add-to-list-btn:hover{
    cursor: pointer;
}